{% extends "layout.html" %}

{% block title %}ADMINISTRACION{% endblock %}

{% block content %}
  <div id="content">
    COLOCAR MONITORES O ALGO RELEVANTE QUE SOLO LE ADMIN PUEDA VER
  </div>
{% endblock %}