{% extends "layout.html" %}

{% block title %}ADMINISTRACION{% endblock %}

{% block content %}
  <div id="content">
    {% if grid is null %}
      <div class="counter_red" align="center">
        No se tiene registros para el dia.
      </div>
    {% else %}
      {{ component_render(grid) }}
    {% endif %}

  </div>
{% endblock %}