<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title '' %} - BILLING</title>
    {% block stylesheets %}
    <!-- <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css" media="screen"> -->
    <link rel="stylesheet" href="{{ app.request.basepath }}/theme/layout.css">
    {% include 'smartwigAssets.html' %}
    {% endblock %}
    {% block refresh %}{% endblock %}
  </head>
  <body>
    {% block navbar %}
    <div id="navbar">
      {% embed "navbar.twig" %}{% endembed %}
    </div>
    {% endblock %}
    {% block sideleft %}
    <div id="sideLeft">
      {% if app.session.get('user').username is defined %}
        {% embed "menu.twig" with {'rol':app.session.get('user').userrol} %}
        {% endembed %}
      {% endif %}
    </div>
    {% endblock %}
    {% block main %}
    <div id="wrapper">
      <div id="middle">
        {% block error %}
          {% for error in app.session.getFlashBag.get('error') %}
            <div class="counter_red" align="center">{{ error }}</div>
          {% endfor %}
        {% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% endblock %}
  </body>
</html>
