{% extends "layout.html" %}

{% block title %}MONITOR{% endblock %}
{% block refresh %}
  <META HTTP-EQUIV="REFRESH" CONTENT="300">
{% endblock %}
{% block navbar %}{% endblock %}
{% block sideleft %}{% endblock %}
{% block main %}
<div id="monitor">
  <table width="100%" cellspacing="5" align="center">
    <tr valign="top">
      <td width="45%" id="incidentesId">
        {% embed 'monitor/incidentes.twig'
            with { 'dataIncPend' : dataIncPend,
                   'dataIncPendRes' : dataIncPendRes }
        %}
        {% endembed %}
      </td>
      <td>
        {% embed 'monitor/problemas.twig'
            with { 'dataProbBill' : dataProbBill,
                   'titulo':'PROBLEMAS FACTURACION'}
        %}
        {% endembed %}
        <br>
        {% embed 'monitor/problemas.twig'
            with { 'dataProbBill' : dataProbEsp,
                   'titulo':'PROBLEMAS DE MESAS EXTERNAS C/USR DE FACTURACION'}
        %}
        {% endembed %}
      </td>
    </tr>
  </table>
</div>
{% endblock %}