{% extends "layout.html" %}

{% block title %}IMAGEN{% endblock %}

{% block content %}
  <div id="content">
    <div class="counter_blue" align="center">
      IMAGEN {{ periodo|e }}
    </div>
    <table width='100%'>
      <tr  valign="top">
        <td width='50%'>
          {% if gridMonImagen is null %}
            <div class="counter_red" align="center">
              No se tiene data de monitoreo para el periodo.
            </div>
          {% else %}
            {{ component_render(gridMonImagen) }}
          {% endif %}
        </td>
        <td>
          {% if gridProcImagen is null %}
            <div class="counter_red" align="center">
              No se tiene data de procesos para el periodo.
            </div>
          {% else %}
            {{ component_render(gridProcImagen) }}
          {% endif %}
        </td>
      </tr>
    </table>
  </div>
{% endblock %}
