#------------------------------------------------------------------------------
# Server root folder www .htaccess
# This file provides server security limiting access to the localhost only.
# Comment next four lines to deactivate. (Allows external access)
#------------------------------------------------------------------------------

Order Deny,Allow
Deny from all
Allow from 127.0.0.1 10.40.4.20 10.44.22.96 10.40.4.180 10.40.4.148 10.40.4.228 10.40.4.199 10.40.4.134
Allow from ::1

#-------------------------------------------------------------------
# To allow execution of cgi scripts in this directory uncomment next
#-------------------------------------------------------------------

Options  +FollowSymLinks

