#------------------------------------------------------------------------------
# Server root folder www .htaccess
# This file provides server security limiting access to the localhost only.
# Comment next four lines to deactivate. (Allows external access)
#------------------------------------------------------------------------------

Order Deny,Allow
Deny from all
Allow from 127.0.0.1 10.47.17.20 10.47.17.228 10.47.17.148 10.47.17.134 10.47.17.199 10.47.17.120 10.47.18.146 10.47.21.130 10.47.22.205 10.47.17.180
Allow from ::1

#-------------------------------------------------------------------
# To allow execution of cgi scripts in this directory uncomment next
#-------------------------------------------------------------------

Options  +FollowSymLinks

